td,
th {
  @apply px-4 py-2 text-left;
}
table {
  border: 1px rgba(0, 0, 0, 0.37) solid;
}

tr {
  border: 1px solid;
  @apply border-gray-200;
}

td {
  @apply text-sm text-gray-900;
}

th {
  @apply text-xs text-gray-800;
}

.not-found {
  @apply text-center italic text-gray-500;
}

.scroll_viewport {
  height: 380px;
}
