<div class="mb-4 bg-white rounded-md shadow-md">
  <div>
    <table class="w-full">
      <tr>
        <th>name</th>
        <th>profile</th>
        <th>dtype</th>
        <th>shape</th>
      </tr>
    </table>
    <cdk-virtual-scroll-viewport class="scroll_viewport" itemSize="50">
      <table class="w-full">
        <tbody>
          <tr>
            <td class="uppercase font-bold text-sm text-gray-800">Inputs</td>
          </tr>
          <ng-container *ngIf="signature?.inputs?.length; else notFound">
            <ng-container
              [ngTemplateOutlet]="fieldsTmp"
              [ngTemplateOutletContext]="{ $implicit: signature?.inputs }"
            ></ng-container>
          </ng-container>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
    <table class="w-full">
      <tbody>
        <tr>
          <td class="uppercase font-bold text-sm text-gray-800">outputs</td>
        </tr>
        <ng-container *ngIf="signature?.outputs?.length; else notFound">
          <ng-container
            [ngTemplateOutlet]="fieldsTmp"
            [ngTemplateOutletContext]="{ $implicit: signature?.outputs }"
          ></ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #fieldsTmp let-fields>
  <tr *ngFor="let field of fields">
    <td>{{ field.name }}</td>
    <td>
      {{ field.profile }}
    </td>
    <td>{{ field.dtype }}</td>
    <td>{{ field.shape }}</td>
  </tr>
</ng-template>

<ng-template #notFound>
  <tr>
    <td colspan="5" class="not-found">Has no fields</td>
  </tr>
</ng-template>
