<div class="relative overflow-scroll h-full p-10 w-full">
  <div class="mb-5">
    <div class="font-bold text-gray-800">{{modelName$ | async | titlecase}}</div>
    <div class="text-xs text-gray-500">{{(models$ | async)?.length}} model versions</div>
  </div>
  <table class="mv-table">
    <thead>
      <th>Version</th>
      <th>Training data prefix</th>
      <th>Inference data prefix</th>
    </thead>
    <tbody>
      <tr
        *ngFor="let model of models$ | async"
        class="cursor-pointer duration-150"
        [routerLink]="[model.version]"
      >
        <td class="font-bold text-gray-900">{{ model.version }}</td>
        <td class="text-gray-900">{{ model.trainingDataPrefix }}</td>
        <td class="text-gray-900">{{ model.inferenceDataPrefix }}</td>
      </tr>
    </tbody>
  </table>
</div>
