<div class="m-auto max-w-7xl py-10">
  <div class="flex flex-col">
    <div class="mb-6 w-full">
      <div class="font-bold py-4 text-gray-800">Information</div>
      <ng-container *ngIf="model$ | async as model">
        <hs-model-info
          [model]="model"
        ></hs-model-info>
      </ng-container>
    </div>

    <aside class="plugins">
      <div class="font-bold py-4 text-gray-800">Available plugins</div>
      <div
        *ngFor="let p of plugins$ | async"
        [routerLink]="[p.metadata.routePath]"
        class="
          w-24
          h-24
          p-4
          bg-white
          shadow-md
          rounded-md
          flex
          flex-col
          justify-center
          items-center
          cursor-pointer
          hover:bg-blue-50
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-12 w-12 text-blue-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          />
        </svg>
        <div class="pt-2 text-sm font-bold text-gray-900">{{p.name}}</div>
      </div>
    </aside>
  </div>
</div>
