<div class="relative overflow-scroll h-full">
  <table class="mv-table">
    <thead>
      <th>Version</th>
      <th>Build status</th>
      <th>Runtime</th>
      <th>Created</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let mv of modelVersions$ | async" [routerLink]="[mv.modelVersion]">
        <td>{{ mv.modelVersion }}</td>
        <td>
          <hs-model-version-status [status]="mv.status"></hs-model-version-status>
        </td>
        <td class="text-gray-400">
          {{ mv.runtime | json }}
        </td>
        <td class="text-gray-400">{{ mv.created }}</td>
        <td class="text-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
